.cache/
.idea/
.vscode/
build/
build_cpp/
build_java/

platform/web/emsdk/
platform/web/build/

platform/cpp/build/

platform/java/.gradle
platform/java/build
platform/java/dist
platform/java/gradle
platform/java/java_demo/.gradle
platform/java/java_demo/build
platform/java/java_demo/build
platform/java/java_demo/notification_center_sdk.log

cmake-build-debug/